.add-and-clear-portals {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "textarea textarea"
    "load     clear";

  textarea {
    grid-area: textarea;
  }

  &__load-button {
    grid-area: load;
  }

  &__clear-button {
    grid-area: clear;
  }
}
