.add-and-clear-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "startPortal targetPortal"
    "add         clear";

  &__start-portal-uid {
    grid-area: startPortal;

    display: flex;

    span {
      padding: 0 10px;
    }

    input {
      flex-grow: 1;
    }
  }

  &__target-portal-uid {
    grid-area: targetPortal;

    display: flex;

    span {
      padding: 0 10px;
    }

    input {
      flex-grow: 1;
    }
  }

  &__add-button {
    grid-area: add;
  }

  &__clear-button {
    grid-area: clear;
  }
}
