.selection {
  table {
    width: 100%;
  }

  &__row-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first up down";
    justify-items: center;
  }

  &__row-button {
    cursor: pointer;

    background-color: transparent;
    border: 0;
    padding: 0;

    &-first {
      grid-area: first;
    }
    &-up {
      grid-area: up;
    }
    &-down {
      grid-area: down;
    }
  }

  &__buttons {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
}
