@import "./portalManagement/add-and-clear-links";
@import "./portalManagement/add-and-clear-portals";

body {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "input map";
}

.input-pane {
  grid-area: input;

  display: flex;
  flex-direction: column;

  > * {
    padding: 8px;
    margin-bottom: 16px;
  }
}

.map-pane {
  grid-area: map;

  .leaflet-container {
    height: 100%;
  }
}
